.app-map {
  width: 100%;
  height: 100%;
}

.app-map__map {
  width: 100%;
  height: 100%;
}

.app-map .mapboxgl-popup-content {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .3);
  padding: 6px 10px;
}

.app-map .mapboxgl-popup-content dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.app-map .app-map-popup-content dl dt {
  font-weight: bold;
}
